.docblock-propstable th:first-child,
.docblock-propstable td:first-child {
  width: 20%;
}

.docblock-propstable th:nth-child(2),
.docblock-propstable th:nth-child(2) {
  width: 20%;
}

.docblock-propstable th:last-child,
.docblock-propstable td:last-child {
  width: 60% !important;
}

.docblock-propstable td:last-child span {
  white-space: pre;
}
